<div class="container">
    <div class="row">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">
        <div class="layout">
            <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
            <div class="page home-page">
                <div class="page-contents">
                    <h1 align="center">Materias</h1>
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>1° grado</th>
                                    <th>2° grado/th>
                                    <th>3° grado</th>
                                    <th>4° grado</th>
                                    <th>5° grado</th>
                                    <th>6° grado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                </tr>
                                <tr>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                </tr>
                                <tr>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                </tr>
                                <tr>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                </tr>
                                <tr>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                </tr>
                                <tr>
                                    <td>Content 6</td>
                                    <td>Content 6</td>
                                    <td>Content 6</td>
                                    <td>Content 6</td>
                                    <td>Content 6</td>
                                    <td>Content 6</td>
                                </tr>
                                <tr>
                                    <td>Content 7</td>
                                    <td>Content 7</td>
                                    <td>Content 7</td>
                                    <td>Content 7</td>
                                    <td>Content 7</td>
                                    <td>Content 7</td>
                                </tr>
                                <tr>
                                    <td>Content 8</td>
                                    <td>Content 8</td>
                                    <td>Content 8</td>
                                    <td>Content 8</td>
                                    <td>Content 8</td>
                                    <td>Content 8</td>
                                </tr>
                                <tr>
                                    <td>Content 9</td>
                                    <td>Content 9</td>
                                    <td>Content 9</td>
                                    <td>Content 9</td>
                                    <td>Content 9</td>
                                    <td>Content 9</td>
                                </tr>
                                <tr>
                                    <td>Content 10</td>
                                    <td>Content 10</td>
                                    <td>Content 10</td>
                                    <td>Content 10</td>
                                    <td>Content 10</td>
                                    <td>Content 10</td>
                                </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <label class="nav" for="home">
                <span>
                    <i class='bx bx-book-bookmark'></i>
                    Materias
                </span>
            </label>
            <input name="nav" type="radio" class="about-radio" id="about" />
            <div class="page about-page">
                <div class="page-contents">
                    <h1 align="center">Alumnos Destacados</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <img src="https://image.ibb.co/eBv19R/if_users_11_984127.png" alt="Avatar" style="width:100%">
                                    <div class="container">
                                      <h4><b>Lorem impsun</b></h4> 
                                      <p>lore</p> 
                                    </div>
                                  </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="https://image.ibb.co/eBv19R/if_users_11_984127.png" alt="Avatar" style="width:100%">
                                    <div class="container">
                                      <h4><b>Owner Name</b></h4> 
                                      <p>Current Position</p> 
                                    </div>
                                  </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="https://image.ibb.co/eBv19R/if_users_11_984127.png" alt="Avatar" style="width:100%">
                                    <div class="container">
                                      <h4><b>Owner Name</b></h4> 
                                      <p>Current Position</p> 
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <label class="nav" for="about">
                <span>
                    <i class='bx bxs-star'></i>
                    Almunos destacados
                </span>
            </label>

            <input name="nav" type="radio" class="contact-radio" id="contact" />
            <div class="page contact-page">
                <div class="page-contents"> 
                    <h1 align="center" class="title">Contacto</h1>
                    <div class="container">
                        <div class="row">
                            <div class="card mb-3" style="max-width: 700px;">
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="http://lorempixel.com/output/city-h-c-730-874-9.jpg" class="card-img" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 align="center">Rosa Garcia Jerez</h3>
                                        <i class="fa fa-envelope-o fa-lg" aria-hidden="true">  hshshsh@gmail.com</i>
                                        <br>
                                        <i class="fa fa-facebook-official fa-lg" aria-hidden="true"><a class="icon" href="">jfjfjjj</a></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="..." class="card-img" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <label class="nav" for="contact">
                <span>
                    <i class='bx bxs-contact'></i>
                    Contacto
                </span>
            </label>
        </div>
    </div>
</div>